<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Registration</title>
    <link rel="stylesheet" th:href="@{admin/css/admin-login.css}">
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" th:action="@{/admin/register}"
              th:object="${adminRegister}" method="POST">
            <input type="text" th:field="*{username}" placeholder="Username"
                   name="username" autocomplete="off"/>
            <input type="text" th:field="*{email}" placeholder="Email"
                   name="email" autocomplete="off"/>
            <input type="password" th:field="*{password}" placeholder="Password"
                   name="password" autocomplete="off"/>
            <button type="submit">Register</button>
        </form>
    </div>
</div>
</body>
</html>