<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hóa đơn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="vendor/bootstrap.js"></script>
    <link rel="stylesheet" href="vendor/bootstrap.css">
    <link rel="stylesheet" href="vendor/font-awesome.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="bill.css">
</head>
<body>
<div class="bill">
    <div class="container-fluid tren">
        <div class="row r-tren">
            <div class="col-xs-2 mui-ten">
                <a href="" class="fas fa-arrow-left icon"></a>
            </div>
            <div class="col-xs-3 float-xs-left">
                <p class="tieu-de">Checkout</p>
            </div>
        </div> <!-- het row -->
    </div> <!-- het container tren-->

    <div class="duoi">
        <div class="container">
            <div class="row san-pham py-3">
                <div class="col-xs-4  hang-nho">
                    <img src="images/Eggnog.jpg" alt="" class="anh-cart">
                </div>
                <div class="col-xs-6 push-xs-1 hang-nho thong-tin">
                    <p class="ten-mon">Eggnog</p>
                    <p class="gia-mon">20.000đ</p>
                </div>
            </div> <!-- het 1 sp -->
        </div> <!-- het container -->

        <div class="container-fluid">
            <div class="ship">
                <div class="row">
                    <div class="col-xs-6">Shipping cost</div>
                    <div class="col-xs-6 text-xs-right">10.000đ</div>
                </div>
            </div> <!-- het ship -->
            <div class="tong-gia">
                <div class="row">
                    <div class="col-xs-6">Total</div>
                    <div class="col-xs-6 text-xs-right">30.000đ</div>
                </div>
            </div>
        </div>



    </div> <!-- het duoi -->
    <div class="footer">
        <div class="gia">Cash:  30.000đ</div>
        <a href="" class="btn btn-danger nut-submit">Submit</a>
    </div>
</div> <!-- hết bill -->

</body>
</html>